ODRA_CASPER_LIVENET_ENV=casper-test
ODRA_CASPER_LIVENET_SECRET_KEY_PATH=
ODRA_CASPER_LIVENET_NODE_ADDRESS=https://node.testnet.cspr.cloud
ODRA_CASPER_LIVENET_EVENTS_URL=https://node-sse.testnet.cspr.cloud/events/main
ODRA_CASPER_LIVENET_CHAIN_NAME=casper-test
CSPR_CLOUD_AUTH_TOKEN=

